<% admin_layout "full-width" %>

<% admin_breadcrumb(link_to 'Sliders', spree.admin_sliders_path) %>
<% admin_breadcrumb('Edit Slider') %>

<%= simple_form_for @slider, url: admin_slider_path, html: { id: 'slider-form' } do |f| %>
  <%= f.input :location, collection: Slider.locations.keys %>
  <%= f.input :name %>
  <%= f.input :auto_play %>
  <%= f.input :navigation %>
  <%= f.input :pagination %>
  <%= f.input :delay_between_slides, hint: 'Milliseconds' %>
  <%= f.input :space_between_slides, hint: 'Pixels' %>
  <%= f.input :force_slide_full_width, hint: 'Make sure that slide image will take 100% of the slide width' %>
  <div class="image-per-slide">
    <%= f.input :image_per_slide_s, hint: 'Images per slides on small screen' %>
    <%= f.input :image_per_slide_m, hint: 'Images per slides on medium screen' %>
    <%= f.input :image_per_slide_l, hint: 'Images per slides on large screen' %>
    <%= f.input :image_per_slide_xl, hint: 'Images per slides on big screen' %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
  <div class="slides">
    <% @slider.slides.order(:order).each_with_index do |slide, index| %>
      <div class="slide">
        <div class="slide-header">
          <span><b class="slide-number">Slide <%= index + 1 %></b></span>
          <span><%= link_to 'Edit', edit_admin_slider_slide_path(@slider.id, slide.id) %></span>
          <span><%= link_to 'Remove', admin_slider_slide_path(@slider.id, slide.id), method: :delete %></span>
        </div>
        <div class="slide-content">
          <p>Link: <%= link_to slide.link, slide.link, target: :blank %></p>
          <div class="slide-images">
            <div>
              <p>Image:</p>
              <%= cl_image_tag_with_folder slide.image, width: 400 %>
            </div>
            <% if slide.image_mobile %>
              <div>
                <p>Image mobile:</p>
                <%= cl_image_tag_with_folder slide.image_mobile, width: 400 %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p><%= link_to '+ Add slide', new_admin_slider_slide_path(@slider.id), class: 'btn btn-secondary' %></p>
<% end %>


<br /><br />