<% admin_layout "full-width" %>

<% admin_breadcrumb(link_to 'Sliders', admin_sliders_path) %>
<% admin_breadcrumb('New Slider') %>

<%= simple_form_for @slider, url: admin_sliders_path, html: { id: 'slider-form' } do |f| %>
  <%= f.input :location, collection: Slider.locations.keys %>
  <%= f.input :name %>
  <%= f.input :auto_play %>
  <%= f.input :navigation %>
  <%= f.input :pagination %>
  <%= f.input :fallback_image, hint: 'Show a grey image placeholder of 1300*550 px when a slide image is missing?' %>
  <%= f.input :delay_between_slides, hint: 'Milliseconds' %>
  <%= f.input :space_between_slides, hint: 'Pixels' %>
  <%= f.input :force_slide_full_width, hint: 'Make sure that slide image will take 100% of the slide width' %>
  <div class="image-per-slide">
    <%= f.input :image_per_slide_s %>
    <%= f.input :image_per_slide_m %>
    <%= f.input :image_per_slide_l %>
    <%= f.input :image_per_slide_xl %>
  </div>
  <%= f.submit 'Create slider and add first slide', class: 'btn btn-primary' %>
  <br />
  <br />
  <b>A slider with only 1 slide will automatically behave like a banner (All options like "auto play", "navigation", "pagination", "delay between slides" etc... will be disabled)</b>
<% end %>