<% admin_layout "full-width" %>

<% admin_breadcrumb(link_to 'Sliders', spree.admin_sliders_path) %>
<% admin_breadcrumb('New Slider') %>

<%= simple_form_for @slider, url: admin_sliders_path, html: { id: 'slider-form', class: 'form-with-images' } do |f| %>
  <%= f.input :location, collection: Slider.locations.keys %>
  <%= f.input :name %>
  <div class="photo-input-container">
    <%= image_tag "", width: 300, class: 'display-none', id: 'photo-preview', data: { id: 0 } %>
    <%= f.input :slide_images_0, as: :file, label: false, input_html: { multiple: true, class: 'photo-input', data: { id: 0 } } %>
    <%= f.label :slide_images_0, 'Upload Image', class: 'btn btn-secondary' %>
  </div>
  <p><button type="button" id="add-slide" class="btn">+ Add another slide</button></p>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>