<% admin_layout "full-width" %>

<% admin_breadcrumb(link_to 'Sliders', spree.admin_sliders_path) %>
<% admin_breadcrumb('New Slider') %>

<%= simple_form_for @slider, url: admin_sliders_path, html: { id: 'slider-form', class: 'form-with-images' } do |f| %>
  <%= f.input :location, collection: Slider.locations.keys %>
  <%= f.input :name %>
  <%= f.input :auto_play %>
  <%= f.input :navigation %>
  <%= f.input :pagination %>
  <%= f.input :delay_between_slides, hint: 'Milliseconds' %>
  <div class="image-per-slide">
    <%= f.input :image_per_slide_s %>
    <%= f.input :image_per_slide_m %>
    <%= f.input :image_per_slide_l %>
    <%= f.input :image_per_slide_xl %>
  </div>
  <% if @slider.errors[:slide_images].present? %>
    <p class="no-slide-error">Please add at least one slide</p>
  <% end %>
  <div id="slides">
    <div id="desktop-slides">
      <div class="photo-input-container display-none">
        <div>
          <%= image_tag "", class: 'display-none photo-preview', data: { id: 0, type: 'desktop' } %>
        </div>
        <label>
          <%= f.input :slide_images, as: :file, label: false, input_html: { multiple: true, class: 'display-none photo-input', data: { id: 0, type: 'desktop' } } %>
          <span class="btn btn-secondary">Choose image</span>
        </label>
        <span class="remove-slide">Remove slide</span>
      </div>
      <p><button type="button" class="btn add-slide" data-type="desktop">+ Add slide</button></p>
    </div>
    <div id="mobile-slides">
      <div class="photo-input-container display-none">
        <div><%= image_tag "", class: 'display-none photo-preview', data: { id: 0, type: 'mobile' } %></div>
        <label>
          <%= f.input :mobile_slide_images, as: :file, label: false, input_html: { multiple: true, class: 'display-none photo-input', data: { id: 0, type: 'mobile' } } %>
          <span class="btn btn-secondary">Choose mobile image</span>
        </label>
        <span class="remove-slide">Remove mobile slide</span>
      </div>
      <p><button type="button" class="btn add-slide" data-type="mobile">+ Add mobile slide</button></p>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>