<div id="reparation-request" class="centered-flexbox vertical-flexbox">
  <h1><%= @category.name %></h1>
  <%= cl_image_tag_with_folder @category.photo, height: 200, width: 300, crop: :fill, model: ReparationCategory %>

  <%= simple_form_for [@category, @reparation_request] do |f| %>
    <%= f.input :product, collection: @category.products %>
    <%= f.input :damage, collection: @category.damages %>
    <%= f.input :shop, collection: ReparationRequest.shops.symbolize_keys.keys %>
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <p><%= t('reparation_explanation') %></p>
    <%= f.input :comment, label: false %>
    <%= f.submit t('send'), class: 'btn btn-primary w-100' %>
  <% end %>
</div>