<% admin_breadcrumb('Trade In Requests') %>

<table>
   <thead>
      <tr>
         <th>Name</th>
         <th>Phone</th>
         <th>Email</th>
         <th>Trade-in model</th>
         <th>Product to buy</th>
         <th>Min value</th>
         <th>Max value</th>
      </tr>
   </thead>
   <tbody>
    <% @trade_in_requests.each do |trade_in_request| %>
      <tr>
        <td><%= trade_in_request.name %></td>
        <td><%= trade_in_request.phone %></td>
        <td><%= trade_in_request.email %></td>
        <td><%= trade_in_request.trade_in_model.name %></td>
        <td><%= trade_in_request.variant.name %> - <%= trade_in_request.variant.options_text %></td>
        <td><%= trade_in_request.variant.price - trade_in_request.trade_in_model.min_value %></td>
        <td><%= trade_in_request.variant.price - trade_in_request.trade_in_model.max_value %></td>
      </tr>
    <% end %>
   </tbody>
</table>