<% self.title = @taxon.name %>

<%= render 'shared/categories_nav' %>

<%= render 'shared/products_sidebar' %>

<div id="taxon-header">
  <h1 class="taxon-title flex-1"><%= @taxon.name %></h1>
  <div class="hide-m">
    <%= render 'shared/products_sorting', version: :desktop %>
  </div>
</div>

<div data-hook="taxon_products">
  <%= render partial: 'shared/products', locals: { products: @products } %>
</div>