<% admin_layout "full-width" %>

<% admin_breadcrumb('Synchronize RepairShopr and Solidus') %>

<h4>Sync Everything (products, product images, and product categories)</h4>
<%= link_to "Sync Everything", admin_sync_everything_path, class: 'btn btn-primary' %>

<hr />

<h4>Sync product categories</h4>
<%= link_to "Sync Product Categories", admin_sync_product_categories_path, class: 'btn btn-secondary' %>

<hr />

<h4>Sync all products and product images</h4>
<%= link_to "Sync Products", admin_sync_products_path, class: 'btn btn-secondary' %>

<hr />

<h2>Sync History</h2>
<table>
   <thead>
      <tr>
         <th>Date</th>
         <th>Synced Products</th>
         <th>Deleted Products</th>
         <th>Synced Product Images</th>
         <th>Deleted Product Images</th>
         <th>Synced Product Categories</th>
         <th>Deleted Product Categories</th>
         <th>Sync Errors</th>
      </tr>
   </thead>
   <tbody>
    <% @sync_logs.each do |sync_log| %>
      <div>
        <tr>
          <td><%= sync_log.created_at.in_time_zone('Bogota').strftime("%d/%m/%Y - %H:%M:%S") %></td>
          <td><%= sync_log.synced_products %></td>
          <td><%= sync_log.deleted_products %></td>
          <td><%= sync_log.synced_product_images %></td>
          <td><%= sync_log.deleted_product_images %></td>
          <td><%= sync_log.synced_product_categories %></td>
          <td><%= sync_log.deleted_product_categories %></td>
          <td><%= sync_log.sync_errors.presence %></td>
        </tr>
      </div>
    <% end %>
   </tbody>
</table>