<div style="font-family: sans-serif; color: #33333A; padding: 0 30px 30px 30px;">
  <div style="height: 100px; margin: 0 auto 10px auto; width: 200px;">
    <%= image_tag 'logo-smm.png' %>
  </div>

  <h1 style="background-color: #f2fff3; font-size: 24px; text-align: center">
    <%= @for_admin ? t('.new_ecommerce_order') : t('spree.thank_you_for_your_order') %>
  </h1>

  <div style="margin: 30px 0">
    <p><b><%= t('spree.shipping_information') %>:</b></p>
    <% if @order.shipments.first.shipping_method.service_level == 'delivery' %>
      <p><%= @address.name %></p>
      <p><%= @address.address1 %></p>
      <% if address_detail = @address.address2 %>
        <p><%= address_detail %></p>
      <% end %>
      <p><%= @address.district.name %></p>
      <p><%= @address.state.name %></p>
      <p><%= @address.country.name %></p>
      <p><%= @address.phone %></p>
      <p><a target='_blank' href="http://www.google.com/maps/place/<%= @address.latitude %>, <%= @address.longitude %>"><%= t('.see_on_map') %></a></p>
    <% else %>
      <p>
        <% if @for_admin %>
          <%= t('.client_pickup_in_store', store_name: @order.shipments.first.shipping_method.admin_name) %>
        <% else %>
          <%= t('spree.shipping_methods.pickup_in_store', store_name: @order.shipments.first.shipping_method.admin_name) %>: 
          <a target='_blank' href="<%= @order.shipments.first.shipping_method.google_map_link %>" style="color: #2d823b!important"><%= t('spree.address') %></a>
        <% end %>
      </p>
    <% end %>
  </div>

  <div>
    <p><b><%= t('spree.order_information') %>: <span style="background-color: #f2fff3; padding: 5px 10px; border-radius: 2px;">#<%= @order.number %></span></b></p>
    <% @order.line_items.each do |line_item| %>
      <div style="margin-bottom: 20px; border: 1px solid rgba(0, 0, 0, .125); padding: 20px;">
        <p style="margin: 0 0 5px 0; font-size: 16px;"><b><%= line_item.variant.product.name %></b><%= line_item.variant.sku.present? ? " (#{line_item.variant.sku})" : '' %></p>
        <div style="width: 150px; height: 150px; margin: 20px 0;">
          <%= cl_image_tag_with_folder line_item.variant.gallery.images.first&.attachment || line_item.variant.product.gallery.images.first&.attachment, height: 150, width: 150, crop: :fill %>
        </div>
        <div>
          <p style="margin: 0 0 5px 0;"><%= line_item.variant.options_text(show_option_type: true, show_model: true) %></p>
          <p style="margin: 0 0 5px 0;"><%= number_to_currency(line_item.variant.price, precision: 2) %></p>
          <p style="margin: 0 0 5px 0;"><%= t('spree.quantity') %>: <%= line_item.quantity %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div style="font-family: sans-serif; background-color: #eee; color: #33333A; padding: 20px 30px;">
  <p>
    <%= @order.item_count %> <%= t('spree.product', count: @order.item_count) %>: <%= @order.display_item_total %>
  </p>
  <% if @order.all_adjustments.eligible.tax.exists? %>
    <% @order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
      <p>
        <%= label %>: <%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %>
      </p>
    <% end %>
  <% end %>
  <p>
    <%= t('spree.shipping') %>: <%= number_to_currency(@order.shipments.first.cost, precision: 2) %>
  </p>
  <% if @order.line_item_adjustments.exists? && @order.all_adjustments.promotion.eligible.exists? %>
    <% @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
      <p>
        <%= label %>: <%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %>
      </p>
    <% end %>
  <% end %>
  <p style=" margin-bottom: 0;">
    <strong><%= t('spree.order_total') %>: <%= number_to_currency(@order.total, precision: 2) %></strong>
  </p>
</div>
<div style="text-align: center; font-family: sans-serif; padding: 30px 60px;">
  <a href="http://www.salvamimaquina.com/" target="_blank" style="color: #2d823b!important">www.salvamimaquina.com</a>
</div>
