<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
  <tr class="<%= cycle('', 'alt') %> line-item" data-id="<%= line_item.id %>">
    <td class="cart-item-image" data-hook="cart_item_image">
      <%= cl_image_tag variant.gallery.images.first&.attachment&.key || variant.product.gallery.images.first&.attachment&.key, height: 150, crop: :fit %>
    </td>
    <td class="cart-item-description" data-hook="cart_item_description">
      <h4><%= link_to line_item.name, product_path(variant.product) %></h4>
      <%= variant.translated_option_values %>
      <% if line_item.insufficient_stock? %>
        <span class="out-of-stock">
          <%= t('spree.out_of_stock') %>&nbsp;&nbsp;<br />
        </span>
      <% end %>
      <!-- <span class="line-item-description" data-hook="line_item_description"> -->
        <%#= line_item_description_text(line_item.description) %>
      <!-- </span> -->
    </td>
    <td class="cart-item-quantity" data-hook="cart_item_quantity">
      <%= line_item.quantity %>
      <%#= item_form.number_field :quantity, min: 0, class: "line_item_quantity", size: 5 %>
    </td>
    <td class="cart-item-total" data-hook="cart_item_total">
      <%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
      <% if line_item.variant.on_sale? %>
        <span class="cart-item-original-price crossed"><%= line_item.variant.original_price %></span>
      <% end %>
    </td>
    <td class="delete-line-item">
      <%= link_to frontend_line_item_path(@order.id, line_item.id), method: :delete do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      <% end %>
    </td>
    <!-- <td class="cart-item-delete" data-hook="cart_item_delete"> -->
      <%#= link_to image_tag('icons/delete.png'), '#', class: 'delete', id: "delete_#{dom_id(line_item)}" # TODO: why this works on prod but not on local? %> 
    <!-- </td> -->
  </tr>
<% end -%>
