<div id="order-wrapper">
  <% if order_just_completed?(@order) %>
    <p><%= t('spree.thank_you_for_your_order') %></p>
  <% end %>
  <h1><%= accurate_title %></h1>

  <div id="order">
    <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
    <div class="line-items">
      <h3><%= t('spree.item', count: @order.line_items.count) %></h3>
      <% @order.line_items.includes(variant: [:product, prices: :active_sale_prices, option_values: :option_type, images: [attachment_attachment: :blob]]).each do |line_item| %>
        <%= render 'spree/orders/line_item', line_item: line_item, static: true %>
      <% end %>
    </div>

    <div id="checkout-summary" data-hook="checkout_summary_box">
      <%= render partial: 'spree/checkout/summary', locals: { order: @order } %>
    </div>

    <div id="order-back-link" data-hook="links">
      <% if order_just_completed?(@order) %>
        <%= link_to t('spree.back_to_store').upcase, spree.root_path, class: "btn btn-primary" %>
      <% else %>
        <%= link_to t('spree.back_to_my_account').upcase, account_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
