<div data-hook="shipping_fieldset_wrapper">
  <fieldset id="shipping" data-hook>
    <%= form.fields_for :ship_address do |ship_form| %>
      <%= render partial: 'spree/address/form', locals: { form: ship_form, address_type: 'shipping', address: @order.ship_address } %>
    <% end %>
  </fieldset>
</div>

<div id="missing-map-pin" class=""><%= t('spree.missing_map_pin') %></div>
<div id="map" style="width: 100%; height: 600px;">
</div>

<hr class="clear" />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag t('spree.save_and_continue').upcase, class: 'btn btn-primary' %>
  <% if try_spree_current_user %>
  <span data-hook="save_user_address">
    &nbsp; &nbsp;
    <%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
    <%= label_tag :save_user_address, t('spree.save_my_address') %>
  </span>
  <% end %>
</div>
<br>
<small><%= t('spree.different_billing_address') %></small>