<%= form_for :order, url: populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <%= hidden_field_tag :product_id, @product.id %>
    <% if @product_has_variant %>
      <div id="product-variants">
        <% @product.variant_option_values_by_option_type.each do |option_type, option_values| %>
          <% if option_type.name == 'model' %>
            <%= select_tag "variant_options[option_type_#{option_type.id}]", options_from_collection_for_select(option_values, :id, :name), class: 'display-none' %>
          <% elsif option_type.name == 'color' %>
            <div id="variant-colors">
              <p class="variant-option-type"><%= option_type.name.capitalize %></p>
              <% option_values.each_with_index do |color, index| %>
                  <%=
                    radio_button_tag "variant_options[option_type_#{option_type.id}]",
                    color.id,
                    index == 0,
                    data: { option_type_id: option_type.id }
                  %>
                  <%=
                    label_tag "variant_options[option_type_#{option_type.id}]_#{color.id}",
                    '',
                    style: "background-color: #{color_code(color.name)};"
                  %>
              <% end %>
            </div>
          <% else %>
            <div class="variant-options">
              <p class="variant-option-type"><%= option_type.name.capitalize %></p>
              <%=
                select_tag "variant_options[option_type_#{option_type.id}]",
                options_for_select(option_values.map {|option_value| [option_value.name, option_value.id, { data: { option_type_id: option_type.id } }] }),
                { class: 'form-select', data: { id: option_type.id } }
              %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="master-description">
        <%= @master.options_text %>
      </div>
    <% end %>
    <%# If products has no variant the variant_id is the master id. If it has variants the variant_id will be defined by JS %>
    <%= hidden_field_tag "variant_id", @master.id %>

    <%# Only take into account the product master for the case it has no variants,
    if it has variants, price and atc btn informations will be updated by JS %>
    <% master_on_sale = @master.on_sale? %>
    <div>
      <div id="product-price">
        <div>
          <% discount_price = @master.price %>
          <span class="price selling discount <%= master_on_sale ? '' : 'display-none' %>" itemprop="price" content="<%= discount_price %>">
            <%= number_to_currency(discount_price) %>
          </span>
          <% price = @master.original_price %>
          <span class="price selling original <%= master_on_sale ? 'crossed' : '' %>" itemprop="price" content="<%= price %>">
            <%= number_to_currency(price) %>
          </span>
        </div>
      </div>

      <div class="add-to-cart">
        <% if @master.can_supply? %>
          <%#= number_field_tag :quantity, 1, class: 'title add-to-cart-quantity', min: 1 %>
          <%= button_tag class: 'large primary', class: 'btn btn-primary', type: :submit, data: { buy: t('spree.buy'), out_of_stock: t('spree.out_of_stock') } do %>
            <%= t('spree.buy').upcase %>
          <% end %>
        <% else %>
          <%= button_tag class: 'large primary', class: 'btn btn-primary', type: :submit, disabled: true, data: { buy: t('spree.buy'), out_of_stock: t('spree.out_of_stock') } do %>
            <%= t('spree.out_of_stock').upcase %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
