<%= form_for :order, url: populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <% if @product.variants_and_option_values_for(current_pricing_options).any? %>
      <div id="product-variants">
        <ul>
          <% first_product_index = 0 # TODO: change this ugly logic %>
          <% available_variant_count = 0 # used later to check if at least any variant is available... TODO: change this ugly logic %>
          <% @product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index| %>
            <% unless variant.can_supply? %>
              <% first_product_index = index + 1 %>
              <% next %>
            <% end %>

            <% available_variant_count += 1 %>
            <li>
              <%= 
                radio_button_tag "variant_id",
                variant.id,
                index == first_product_index,
                'data-price' => variant.price_for(current_pricing_options, sale_price: false),
                'data-discount-price' => variant.on_sale? ? variant.price_for(current_pricing_options) : nil,
                disabled: !variant.can_supply?
              %>
              <%= label_tag "variant_id_#{ variant.id }" do %>
                <span class="variant-description">
                  <%= variant.translated_option_values_without_model %>
                </span>
                <%# if variant_price variant %>
                  <!-- <span class="price diff"> -->
                    <%#= variant_price variant %>
                  <!-- </span> -->
                <%# end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>

    <% variant = @product.has_variants? ? @product.variants.first : @product.master %>
    <div data-hook="product_price">
      <div id="product-price">
        <div>
          <% discount_price = variant.price_for(current_pricing_options) %>
          <span class="price selling discount <%= variant.on_sale? ? '' : 'display-none' %>" itemprop="price" content="<%= discount_price.to_d %>">
            <%= discount_price.to_html %>
          </span>
          <% price = variant.price_for(current_pricing_options, sale_price: false) %>
          <span class="price selling original <%= variant.on_sale? ? 'crossed' : '' %>" itemprop="price" content="<%= price.to_d %>">
            <%= price.to_html %>
          </span>
          <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
        </div>

        <% if @product.master.can_supply? %>
          <link itemprop="availability" href="http://schema.org/InStock" />
        <% end %>
      </div>

      <div class="add-to-cart">
        <% if  @product.master.can_supply? || available_variant_count&.positive? %>
          <%= number_field_tag :quantity, 1, class: 'title add-to-cart-quantity', min: 1 %>
          <%= button_tag class: 'large primary', class: 'btn btn-primary', type: :submit do %>
            <%= t('spree.buy').upcase %>
          <% end %>
        <% else %>
          <%= button_tag class: 'large primary', class: 'btn btn-primary', type: :submit, disabled: true do %>
            <%= t('spree.out_of_stock').upcase %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
