<%= form_for :order, url: populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <% if @product.variants_and_option_values_for(current_pricing_options).any? %>
      <div id="product-variants" class="columns five alpha">
        <h6 class="product-section-title"><%= t('spree.variants') %></h6>
        <ul>
          <% @product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index| %>
            <li>
              <%= 
                radio_button_tag "variant_id",
                variant.id,
                index == 0,
                'data-price' => variant.price_for(current_pricing_options, sale_price: false),
                'data-discount-price' => variant.on_sale? ? variant.price_for(current_pricing_options) : nil
              %>
              <%= label_tag "variant_id_#{ variant.id }" do %>
                <span class="variant-description">
                  <%= variant_options variant %>
                </span>
                <% if variant_price variant %>
                  <span class="price diff"><%= variant_price variant %></span>
                <% end %>

                <% unless variant.can_supply? %>
                  <span class="out-of-stock"><%= t('spree.out_of_stock') %></span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>

    <% variant = @product.has_variants? ? @product.variants.first : @product.master %>
    <div data-hook="product_price" class="columns five omega">
      <div id="product-price">
        <h6 class="product-section-title"><%= t('spree.price') %></h6>
        <div>
          <% discount_price = variant.price_for(current_pricing_options) %>
          <span class="price selling discount <%= variant.on_sale? ? '' : 'display-none' %>" itemprop="price" content="<%= discount_price.to_d %>">
            <%= discount_price.to_html %>
          </span>
          <% price = variant.price_for(current_pricing_options, sale_price: false) %>
          <span class="price selling original <%= variant.on_sale? ? 'crossed' : '' %>" itemprop="price" content="<%= price.to_d %>">
            <%= price.to_html %>
          </span>
          <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
        </div>

        <% if @product.master.can_supply? %>
          <link itemprop="availability" href="http://schema.org/InStock" />
        <% elsif @product.variants.empty? %>
          <br />
          <span class="out-of-stock"><%= t('spree.out_of_stock') %></span>
        <% end %>
      </div>

      <div class="add-to-cart">
        <%= number_field_tag :quantity, 1, class: 'title', min: 1 %>
        <%= button_tag class: 'large primary', id: 'add-to-cart-button', type: :submit do %>
          <%= t('spree.add_to_cart') %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
