<%= form_for :order, url: populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <%= hidden_field_tag :product_id, @product.id %>
    <% if product_has_variants = @product.has_variants? %>
      <div id="product-variants">
        <ul>
          <% @variants.each_with_index do |variant, index| %>
            <li>
              <%=
                radio_button_tag "variant_id",
                variant.id,
                index == 0,
                'data-price' => number_to_currency(variant.original_price),
                'data-discount-price' => variant.on_sale? ? number_to_currency(variant.price) : nil,
                'data-has-stock' => variant.can_supply?
              %>
              <%= label_tag "variant_id_#{ variant.id }" do %>
                <span class="variant-description">
                  <%= variant.options_text %>
                </span>
                <%# if variant_price variant %>
                  <!-- <span class="price diff"> -->
                    <%#= variant_price variant %>
                  <!-- </span> -->
                <%# end %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% @product.variant_option_values_by_option_type.each do |option_type, option_values| %>
          <% next if option_type.name == 'model' %>
          <p>
            <%= option_type.name.capitalize %>
            <%= select_tag "option_type_#{option_type.id}", options_from_collection_for_select(option_values, :id, :name) %>
          </p>
        <% end %>
      </div>
    <% else %>
      <div class="master-description">
        <%= @master.options_text %>
      </div>
      <%= hidden_field_tag "variant_id", @master.id %>
    <% end %>

    <% variant = product_has_variants ? @variants.first : @master %>
    <% variant_on_sale = variant.on_sale? %>
    <div data-hook="product_price">
      <div id="product-price">
        <div>
          <% discount_price = variant.price %>
          <span class="price selling discount <%= variant_on_sale ? '' : 'display-none' %>" itemprop="price" content="<%= discount_price %>">
            <%= number_to_currency(discount_price) %>
          </span>
          <% price = variant.original_price %>
          <span class="price selling original <%= variant_on_sale ? 'crossed' : '' %>" itemprop="price" content="<%= price %>">
            <%= number_to_currency(price) %>
          </span>
        </div>
      </div>

      <div class="add-to-cart">
        <% if @master.can_supply? %>
          <%#= number_field_tag :quantity, 1, class: 'title add-to-cart-quantity', min: 1 %>
          <%= button_tag class: 'large primary', class: 'btn btn-primary', type: :submit do %>
            <%= t('spree.buy').upcase %>
          <% end %>
        <% else %>
          <%= button_tag class: 'large primary', class: 'btn btn-primary', type: :submit, disabled: true do %>
            <%= t('spree.out_of_stock').upcase %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
