<%# no need for thumbnails unless there is more than one image %>
<% if @product.gallery.images.size > 1 %>
  <ul id="product-thumbnails" class="thumbnails inline" data-hook>

    <% @product.gallery.images.each do |image| %>
      <% next if image.viewable_id != @product.master.id %>
      <li class='tmb-all tmb-<%= image.viewable_id %>'>
        <%= link_to cl_image_path(image.attachment&.key) do %>
          <%= cl_image_tag image.attachment&.key, height: 48, crop: :fit, itemprop: "image" %>
        <% end %>
      </li>
    <% end %>

    <% if @product.has_variants? %>
      <% @product.gallery.images.each do |image| %>
        <% next if image.viewable_id == @product.master.id %>
        <li class='vtmb tmb-<%= image.viewable_id %>'>
          <%= link_to cl_image_path(image.attachment&.key) do %>
            <%= cl_image_tag image.attachment&.key, height: 48, crop: :fit, itemprop: "image" %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
