<%
=begin%>
 <% if params[:keywords] %>

  <div data-hook="search_results">
    <% if @products.empty? %>
      <h6 class="search-results-title"><%= t('spree.no_products_found') %></h6>
    <% else %>
      <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
    <% end %>
  </div>

<% else %> 
<%
=end%>
<div id="brands">
  <% @brands.each do |brand| %>
    <div class="brand">
      <h2><%= brand.name.capitalize %></h2>
      <div class="brand-categories">
        <% brand.children.each do |child| %>
          <% next unless child.depth - brand.depth == 1 %>
          <div>
            <div class="position-relative brand-category">
              <p><%= branded_name(child.name) %></p>
              <%= cl_image_tag(child.icon.try(:key), width: 500, crop: :fill) %>
              <%= link_to '', spree.nested_taxons_path(child), class: 'full-absolute' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%# end %>
