<div id="product-show" data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

  <div id="product-top-part">
    <div id="product-left-part" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" data-hook>
            <% if @product_has_variant %>
              <%# The src will be added by JS depending what variant is selected %>
              <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="<%= @product.name %>" itemprop="image" data-key="">
            <% else %>
              <%= cl_image_tag @first_image_key, width: 600, crop: :fit, itemprop: "image", data: { key: @first_image_key } %>
            <% end %>
          </div>
          <div id="thumbnails" data-hook>
            <%# @first_image_key will be defined only if product has no variants. If it has variants all will be defined by JS anyway %>
            <%= render 'thumbnails', first_image_key: @first_image_key %>
          </div>
        </div>

        <div data-hook="product_properties">
          <%#= render partial: 'properties' %>
        </div>

        <div data-hook="promotions">
          <%#= render partial: 'promotions' %>
        </div>
      </div>
    </div>
    <div id="product-right-part" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

          <div id="cart-form" data-hook="cart_form">
            <%= render partial: 'cart_form' %>
          </div>
        </div>
        <%#= render partial: 'taxons' %>
      </div>
    </div>
  </div>


  <div class="product-description">
    <h5><%= t('spree.product_information') %></h5>
    <%= product_description(@product) rescue t('spree.product_has_no_description') %>
  </div>
  <%= render 'spree/shared/related_products', related_products: @product.cross_sells.includes(variants_including_master: [{ images: [attachment_attachment: :blob] }, { prices: :active_sale_prices }]) %>
</div>
