<%= turbo_frame_tag 'add-to-cart-modal', target: '_top' do %>
  <div
    data-controller="add-to-cart-modal"
    data-add-to-cart-modal-display-modal-value="<%= display_modal %>"
    data-spec='add-to-cart-modal'
    class="modal fade"
    id="addToCartModal"
    tabindex="-1"
    aria-labelledby="addToCartModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close centered-flexbox" data-bs-dismiss="modal" aria-label="Close">
            <%= svg 'cross' %>
          </button>
        </div>
        <div class="modal-body">
          <span id="variant-name"><%= variant_full_name %></span> <%= t('spree.added_to_your_cart') %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-spec="close-modal" data-bs-dismiss="modal"><%= t('spree.continue_shopping') %></button>
          <%= link_to cart_es_mx_path, class: "btn btn-primary", data: { spec: 'go-to-cart' } do %>
            <%= t('spree.see_cart') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
