<!-- Legacy code -->
<div id="homepage-banner">
  <div class="container">
    <div class="homepage-banner-text">
      <h1>Salva Mi Máquina</h1>
      <h2><%= t('home_page.apple_experts') %></h2>
      <p><%= t('home_page.all_what_you_need') %></p>
      <div class="homepage-banner-ctas">
        <%= link_to t('online_shop'), products_path, class: 'btn btn-primary rounded' %>
        <%#= link_to t('trade_in'), '#', class: 'btn btn-primary rounded' %>
        <%= link_to t('reparation'), reparation_categories_path, class: 'btn btn-primary rounded' %>
      </div>
    </div>
    <div class="">
      <%= image_tag 'smm-hp-banner.png' %>
    </div>
  </div>
</div>