<div id="products-filters">
  <%=
    form_tag filter_products_path,
    method: :get,
    id: 'products-filters-form',
    data: {
      turbo_stream: true,
      controller: 'products-filters-form'
    } do
  %>
    <%= hidden_field_tag 'products_filters[per_page]', params[:per_page] %>
    <%= hidden_field_tag 'products_filters[taxon_id]', @taxon&.id %>
    <!-- We need this extra div so that the previous hidden field tags are not taken into account when applying CSS :first-child and :last-child selectors -->
    <div>
      <%= render 'shared/filters/model_filter' %>
      <%= render 'shared/filters/color_filter' %>
      <%= render 'shared/filters/price_range_slider' %>
      <%= render 'shared/filters/capacity_filter' %>
    </div>
  <% end %>
</div>