<% content_for :sidebar do %>
  <div id="products-sidebar" data-controller="products-sidebar">
    <button id="show-products-sidebar-content" class="show-m">
      <%= svg 'filters' %>
      <%= t('spree.filter') %>
      <span class="filter-count" id="filter-count-menu"></span>
    </button>

    <div id="products-sidebar-content">
      <div id="products-sidebar-content-header" class="show-m">
        <ul class="nav nav-tabs" id="productsSidebarTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="product-filters-tab" data-bs-toggle="tab" data-bs-target="#product-filters-tab-content" type="button" role="tab" aria-controls="product-filters-tab-content" aria-selected="true"><%= t('spree.filter').upcase %></button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="products-sorting-tab" data-bs-toggle="tab" data-bs-target="#products-sorting-tab-content" type="button" role="tab" aria-controls="products-sorting-tab-content" aria-selected="false"><%= t('spree.sort').upcase %></button>
          </li>
        </ul>
        <button class="hide-products-sidebar-content">
          <%= svg 'cross' %>
        </button>
      </div>
      <div id="products-sidebar-content-body" class="tab-content" id="productsSidebarTabsContent">
        <div class="tab-pane fade show active" id="product-filters-tab-content" role="tabpanel" aria-labelledby="product-filters-tab">
          <%= render 'shared/products_filters' %>
        </div>
        <div class="tab-pane fade" id="products-sorting-tab-content" role="tabpanel" aria-labelledby="products-sorting-tab">
          <%= render 'shared/products_sorting_mobile', current_sorting_key: current_sorting_key %>
        </div>
      </div>
      <div id="products-sidebar-content-footer" class="show-m">
        <button type="button" class="btn btn-primary w-100 hide-products-sidebar-content"><%= t('spree.confirm').upcase %></button>
        <!-- A bit ugly but the simplest way to remove filters is just to reload the page with the current url... -->
        <%= link_to request.original_fullpath do %>
          <button type="button" class="btn w-100 remove-products-filters">
            <%= t('erase') %>
            <span class="filter-count" id="filter-count-button"></span>
          </button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>