<% self.title = @taxon.name %>

<div id="taxon-header">
  <h1 class="taxon-title flex-1"><%= @taxon.name %></h1>
  <div class="hide-m">
    <%= render 'spree/shared/products_sorting', version: :desktop, form: 'products-searcher' %>
  </div>
</div>

<%= render 'spree/shared/products_sidebar' %>
<div data-hook="taxon_products">
  <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
</div>

<%
=begin%>
 <% unless params[:keywords].present? %>
  <div data-hook="taxon_children">
    <% cache [I18n.locale, @taxon] do %>
      <%= render partial: 'taxon', collection: @taxon.children %>
    <% end %>
  </div>
<% end %> 
<%
=end%>

