<!-- TODO: can be refacto in the same partial with color_filter, and capacity -->
<% model_filter = checkbox_product_filter('model') %>
<% model_option_type = Spree::OptionType.find_by(name: 'model') %>
<% if model_filter.present? %>
  <div class="product-filter">
    <div class="product-filter-content">
      <h6 class="product-filter-title"><%= t('spree.model', count: model_filter.size) %></h6>
      <ul>
        <% model_filter.each do |model_name, model_id| %>
          <li>
            <input
              type="checkbox"
              id="<%= model_id %>"
              name="<%= "products_filters[search[with_option][#{model_option_type.id}]][]" %>"
              value="<%= model_id %>"
              data-action="change->products-filters-form#inputChanged"
              <%= params.dig(:search, :with_option, model_option_type.id.to_s)&.include?(model_id.to_s) ? "checked" : "" %>
            />
            <label class="product-filter-label" for="<%= model_id %>">
              <span><%= model_name %></span>
              <%= svg 'cross' %>
            </label>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>