<% admin_layout "full-width" %>

<% admin_breadcrumb('Website documentation') %>

<div id="admin-doc">
  <div class="admin-doc-block" id="products">
    <h2>Products</h2>
    <div class="doc-warning">
      <%= svg 'warning' %>
      All products are synchronized from Salva Mi Máquina RepairShopr account and shouldn't be modified from the website admin. Things like product details, images, variants, prices, stock, product categories (taxonomies) etc shouldn't be touched at all on website admin and are all synchronized directly from RepairShopr.
    </div>
    <p>The only product related features that have to be handle in website admin are:</p>

    <h3>Product Category Banners</h3>
    <p>On RepairShopr we can't associate an image to a product category. So this can be done on the website admin</p>
    <ol>
      <li>Go to <%= link_to 'admin > products > taxonomies', admin_taxonomies_path, target: :blank %> and click the edit button of the "Categories" taxonomy</li>
      <li>(You may have to reload the page to see the content...). Click on the edit button of the category you want to edit</li>
      <li>Click on the <b>"Choose File"</b> button and choose the category image (image size should be 500px width and 500px height)</li>
      <li>Click on the <b>"Update"</b> button</li>
      <li>Those images will appear under the category name on the "Tienda en Línea" page (<%= link_to 'here', main_app.products_path, target: :blank %>)</li>
    </ol>

    <%= image_tag 'doc/product-category-banners.png' %>
    <%= image_tag 'doc/product-category-banners2.png' %>
    <%= image_tag 'doc/product-category-banners3.png' %>
    <%= image_tag 'doc/product-category-banners4.png' %>
  </div>

  <div class="admin-doc-block" id="promotions">
    <h2>Promotions</h2>
    <p>You can generate promotions or coupon codes that would apply to all products (giving for example 30% discount to all users with a specific coupon code). You can even create promotions with complexe logic (that applies to only certain products, or for a certain amount of order, or only 1 time by user etc...), but we didn't test any of these yet so please contact admin to make sure to test any complexe promotion before publishing.</p>

    <h3>Coupon Code Promotions</h3>
    <ol>
      <li>Go to <%= link_to 'admin > promotions > promotions', admin_promotions_path, target: :blank %> and click "New Promotion" button</li>
      <li>Choose a promotion name (will be displayed on the checkout summary), select <b>"Single promotion code"</b>, and chose your promotion code (example here: <b>"smm-navidad-30-off"</b>). You can also chose a start and an end date if you want. Then click the <b>"Create"</b> button</li>
      <li>You can now choose specific rules defining when the promotion will apply (the "Discount Rules" dropdown), and choose the amount of your promotion (the "Adjustment type" dropdown). For example, for a discount that will apply to the whole amount of the order, select "Create whole-order adjustment" and click the "Add" button</li>
      <li>On the new block that appeared, select "Calculated by": "Flat Percent" and choose your % discount (ex: 30, for 30% discount). Then click on <b>"Update"</b> button</li>
      <li>Your coupon code is now valid, you can add it to your order on the cart page, or at any step of your checkout</li>
    </ol>

    <%= image_tag 'doc/coupon-code-promotions.png' %>
    <%= image_tag 'doc/coupon-code-promotions2.png' %>
    <%= image_tag 'doc/coupon-code-promotions3.png' %>
    <%= image_tag 'doc/coupon-code-promotions4.png' %>
    <%= image_tag 'doc/coupon-code-promotions5.png' %>
    <%= image_tag 'doc/coupon-code-promotions6.png' %>

    <hr />

    <h3>Free Shipping Promotion</h3>
    <p>We have a permanently active promotion named "Entrega Gratis" that offers free shipping for deliveries in Panama City Zone 1 and 2 for orders above a certain amount. The current amount is <b>150.00 $</b>. To change this amount just do the following:</p>
    <ol>
      <li>Go to <%= link_to 'admin > promotions > promotions', admin_promotions_path, target: :blank %> and click the edit icon of the <b>"Entrega Gratis"</b> promotion</li>
      <li>Change the amount on the "Order total meets these criteria" block, and click the <b>"Update"</b> button</li>
    </ol>

    <%= image_tag 'doc/free-shipping-promotion.png' %>
    <%= image_tag 'doc/free-shipping-promotion2.png' %>
  </div>

  <div class="admin-doc-block" id="users">
    <h2>Users</h2>
    <p>On the user page you can see all customers that created an account on the website. This is also were you can define users who should have Admin access rights.</p>

    <h3>Give Admin Rights to User</h3>
    <div class="doc-warning">
      <%= svg 'warning' %>
      If you give admin rights to an user he/she will have access to the website admin and will be able to perform all actions described in this documentation
    </div>
    <ol>
      <li>Go to <%= link_to 'admin > users', admin_users_path, target: :blank %> and click the edit icon to the user you want to edit</li>
      <li>Check the "admin" checkbox</li>
      <li>Click the <b>"Update"</b> button</li>
    </ol>

    <%= image_tag 'doc/admin-user.png' %>
    <%= image_tag 'doc/admin-user2.png' %>
  </div>

  <div class="admin-doc-block" id="settings">
    <h2>Settings</h2>
    <h3>Store Settings</h3>
    <p>On the <%= link_to 'store settings page', edit_admin_store_path(current_store), target: :blank %> you can define general website settings (Those settings have been correctly configured for now, please change it only if you are sure of what you are doing):</p>
    <ul>
      <li><b>Site name:</b> the website name that will appear on top of internet browser tabs. Also used for SEO</li>
      <li><b>Slug:</b> used by the internal code to define your store</li>
      <li><b>Seo Title:</b> title of the website used for SEO</li>
      <li><b>Meta Keywords:</b> was used for SEO in the past but is not used anymore</li>
      <li><b>Meta Description: </b> description of the website used for SEO</li>
      <li><b>Site URL: </b> used by the internal code to define the website domain name</li>
      <li><b>Mail From Address: </b> the admin email address that will be used to send AND receive all website emails (order confirmations, trade-in requests, reparation requests, contact form messages etc...)</li>
      <li><b>Default Currency:</b> currency of the ecommerce</li>
      <li><b>Locales Available in the Storefront: </b> the default language of the website</li>
    </ul>

    <%= image_tag 'doc/store-settings.png' %>

    <hr>

    <h3>Shipping methods</h3>
    <p>On the <%= link_to 'shipping methods page', admin_shipping_methods_path, target: :blank %> we define the different shippping methods available on the ecommerce. Current available shipping methods are: delivery to Panama City zone 1, 2, 3, and pick up in Bella Vista and San Francisco stores. You can change the price of a shipping method by doing the following:</p>
    <ul>
      <li>Go to <%= link_to 'admin > settings > shipping', admin_shipping_methods_path, target: :blank %> and click the edit icon of the shipping method you want to edit</li>
      <li>Change the amount</li>
      <li>Click on the <b>"Update"</b> button</li>
    </ul>

    <%= image_tag 'doc/shipping-methods.png' %>
    <%= image_tag 'doc/shipping-methods2.png' %>

    <hr>

    <h3>Zones</h3>
    <p>The zones are geographical areas used to define what shipping method should be applied to each order shipping address. We currently have 4 zones:</p>
    <ul>
      <li><b>Panama (the entire country):</b> used for pick up in stores shipping methods</li>
      <li><b>Panama Zone 1:</b> used for Panama Zone 1 shipping method</li>
      <li><b>Panama Zone 2:</b> used for Panama Zone 2 shipping method</li>
      <li><b>Panama Zone 3:</b> used for Panama Zone 3 shipping method</li>
    </ul>
    <div class="doc-warning">
      <%= svg 'warning' %>
      Don't delete any zone or the shipping methods won't work properly
    </div>
    <p>You can see what district (corregimiento) is linked to a particular zone:</p>
    <ul>
      <li>Go to <%= link_to 'admin > settings > zones', admin_zones_path, target: :blank %> and click the edit icon of the zone you want to edit</li>
      <li>Here on the "District" field you can see all districts linked to this specific zone</li>
    </ul>

    <%= image_tag 'doc/zones.png' %>
    <%= image_tag 'doc/zones2.png' %>
  </div>

  <div class="admin-doc-block" id="trade-in">
    <h2>Trade In</h2>
    <h3>Trade-in models</h3>
    <p>On the <%= link_to 'trade-in models page', admin_trade_in_models_path, target: :blank %> you can see all models available for trade-in with their names, minimum values, maximum values and categories. <b>These models are automatically synchronized everyday at 00:00am from <%= link_to 'this google sheet', "https://docs.google.com/spreadsheets/u/2/d/#{Rails.application.credentials.trade_in_google_sheet_id}/edit", target: :blank %></b>. You can also trigger a synchronization whenever you want by clicking on the <b>"Sync Trade In Models"</b> button on the top right of the page</p>

    <%= image_tag 'doc/trade-in-models.png' %>

    <hr>

    <h3>Trade-in requests</h3>
    <p>On the <%= link_to 'trade-in requests page', admin_trade_in_requests_path, target: :blank %> you can see all trade-in requests made by users on the website. Every time a trade-in request is made you also receive an email to <%= Spree::Store.default.mail_from_address %></p>

    <%= image_tag 'doc/trade-in-requests.png' %>
  </div>

  <div class="admin-doc-block" id="reparations">
    <h2>Reparations</h2>
    <h3>Reparation Categories</h3>
    <p>This is where you define the different reparation categories that will appear on <%= link_to 'this page', main_app.reparation_categories_path, target: :blank %>. You can edit or create a reparation category by doing the following:</p>
    <ol>
      <li>Go to <%= link_to 'admin > reparations > reparation categories', admin_reparation_categories_path, target: :blank %> and click the edit icon of the reparation you want to edit. Or click on the <b>"New Reparation Category"</b> button on the top right of the page if you want to create a new one</li>
      <li>You can now define the name of your reparation category, the different products belonging to this category, and the different damage types belonging to this category. (To add new product fields or new damage fields, you have to add a product name or a damage type on the "New Product" or "New Damage Type" field, and then save your changes)</li>
      <li>To save your changes click on the <b>"Update Reparation category"</b> button at the bottom of the page</li>
    </ol>

    <%= image_tag 'doc/reparation-categories.png' %>
    <%= image_tag 'doc/reparation-categories2.png' %>
    <%= image_tag 'doc/reparation-categories3.png' %>

    <hr>

    <h3>Reparation Requests</h3>
    <p>On the <%= link_to 'reparation requests page', admin_reparation_requests_path, target: :blank %> you can see all reparation requests made by users on the website. Every time a reparation request is made you also receive an email to <%= Spree::Store.default.mail_from_address %></p>

    <%= image_tag 'doc/reparation-requests.png' %>
  </div>

  <div class="admin-doc-block" id="repair-shopr">
    <h2>RepairShopr</h2>
    <h3>Add Data to RepairShopr Products</h3>
    <p>All the following information that you put on a RepairShopr product will appear on the website:</p>
    <ul>
      <li>name</li>
      <li>sku</li>
      <li>price</li>
      <li>condition <b>(should be "refurbished" for refurbished products, otherwise it can stay blank)</b></li>
      <li>quantity</li>
      <li>categories</li>
    </ul>
    <p>But some information are not present in RepairShopr and we use the <b>"Note"</b> field for that. On RepairShopr note you can for example set:</p>
    <ul>
      <li><b>parent_product:</b> specifies that the product is actually a variation of another parent product. Parent products can have many different variations. (See Parent Products section for more info)</li>
      <li><b>model:</b> specifies the product model. The model information is used to create the "Modelos" filter on the ecommerce</li>
      <li><b>color:</b> specifies the product color. The color information is used to create the "Colores" filter on the ecommerce</li>
      <li><b>capacity:</b> specifies the product capacity. The capacity information is used to create the "Capacidad" filter on the ecommerce</li>
      <li><b>highlight:</b> specifies if the product should appear on the <%= link_to 'home page', main_app.root_path, target: :blank %></li>
    </ul>
    <p>So for example the note field of a RepairShopr product could have the following information:</p>
    <p class="doc-code">
      <span>parent_product: iPhone 11</span>
      <span>model: iPhone 11</span>
      <span>color: Rosado</span>
      <span>capacity: 128gb</span>
      <span>highlight: yes</span>
    </p>

    <hr>

    <h3>Parent Product</h3>
    <p>When you specify a <i>parent_product</i> on RepairShopr note, it means you want to regroup different products under one parent product to create a product with different variations.</p>
    <p>For example, the <i>parent_product</i> name can be <b>"iPhone 11"</b>, and the different variations can be:</p>
    <ul>
      <li>"iPhone 11 - Verde - 64Gb"</li>
      <li>"iPhone 11 - Verde - 128gb"</li>
      <li>"iPhone 11 - Azul - 64gb"</li>
      <li>etc...</li>
    </ul>
    <p>In order to achieve that, all different RepairShopr products should have <b>parent_product: iPhone 11</b> + their specific color and capacity variations in note. For example the "iPhone 11 - Vede - 64gb" will have the following RepairShopr note:</p>
    <p class="doc-code">
      <span>parent_product: iPhone 11</span>
      <span>color: Verde</span>
      <span>capacity: 64gb</span>
    </p>
    <p>RepairShopr products with the same <i>parent_product</i> will appear on the same product page on the website like this:</p>
    <%= image_tag 'doc/parent-product.png' %>

    <div class="doc-warning">
      <%= svg 'warning' %>
      <span>
        <p><b>Don't use <i>parent_product</i> for products that don't have variations.</b> There are currently a lot of products on the website that have a useless <i>parent_product</i>... They have a <i>parent_product</i> defined in RepairShopr, but there are the only one to have this <i>parent_product</i>, so we are not grouping any variation together. For example all the following products are not correctly configured:</p>
        <ul>
          <li><%= link_to 'Adaptador de carga 20w para iPhone', 'https://www.salvamimaquina.com/productos/adaptador-de-carga-20w-para-iphone', target: :blank %></li>
          <li><%= link_to 'Magsafe Magnético para iPhone', 'https://www.salvamimaquina.com/productos/magsafe-magnetico-para-iphone', target: :blank %></li>
          <li><%= link_to 'Airpods 3', 'https://www.salvamimaquina.com/productos/airpods-3', target: :blank %></li>
          <li><%= link_to 'Airpods Pro', 'https://www.salvamimaquina.com/productos/airpods-pro', target: :blank %></li>
          <li>etc...</li>
        </ul>
      </span>
    </div>

    <hr>

    <h3 id="sync-repair-shopr">Sync RepairShopr</h3>
    <p>On the <%= link_to 'sync RepairShopr page', admin_sync_repair_shopr_index_path, target: :blank %> you can synchronize RepairShopr products to the website and see previous synchronization status. <b>A synchronization is done automatically every day at 00:00am.</b> You can also do a manual synchronization whenever you want by clicking on the <b>"SYNCHRONIZE"</b> button</p>
    <div class="doc-warning">
      <%= svg 'warning' %>
      <span>If you launch a synchronization, you will see a new line appearing on the "Sync History" table, with a "pending" status. <b>Don't launch a new synchronization until this one is complete.</b> You will have to refresh the page until you see the status as "complete"</span>
    </div>

    <%= image_tag 'doc/sync-repair-shopr.png' %>

    <p>Some product information trigger an automatic synchronzation as soon as they are modified. Any of the following data will be automatically synchronized on the website when you change it on RepairShopr:</p>
    <ul>
      <li>Product price</li>
      <li>Product name</li>
      <li>Product description</li>
      <li>Product stock</li>
    </ul>
    <p>Like that for example when a product is sold on a shop and its stock changes, the stock will be automatically updated on the website.</p>
  </div>

  <div class="admin-doc-block" id="sliders">
    <h2>Sliders & Banners</h2>

    <p>On the <%= link_to "Sliders & Banners page", admin_sliders_path, target: :blank %> you will see all the currently published sliders/banners. Sliders and banners are actually almost the same, a banner is just a slider with only one slide. Sliders with only one slide will automatically behave like banners and options like "auto play", "navigation" or "pagination" will be disabled by default. To create a new slider do the following:</p>
    <ol>
      <li>Go to <%= link_to 'admin > sliders & banner', admin_sliders_path, target: :blank %> and click <b>"New Slider"</b> button</li>
      <li>
        Fill up all information:
        <ul>
          <li><b>Location:</b> defines where the slider will appear. You can only create 1 slider for each location. (Once you saved your slider you will see a link to where this slider appear on the website)</li>
          <li><b>Name:</b> the slider name won't appear anywhere on the website, this is just for yourself, to remind you what is the content of this slider</li>
          <li><b>Auto play:</b> if checked, slides will automatically change when you arrive on the slider page</li>
          <li><b>Navigation:</b> if checked, slides will have arrows on the left and right part to signal users they can change slide if they click on it</li>
          <li><b>Pagination:</b> if checked, at the bottom of the slider you will see dots showing how many slides are present and what slide is currently selected</li>
          <li><b>Fallback image:</b> if checked, slide will show a grey image placeholder of 1300*550 px when a slide image is missing</li>
          <li><b>Delay between slides:</b> the time (in milliseconds) before a slide will change. Default value is 3000</li>
          <li><b>Space between slides:</b> the space displayed between two slides when they are changing. Default value is 10</li>
          <li><b>Force slide full width:</b> if checked, the slide image will always take the full width of the slider (even if the actual image is smaller). Default value is checked, and for most sliders this should always stay checked (Only sliders showing more than one slide at the same time shouldn't have this option checked)</li>
          <li><b>Image per slide S, M, L, XL:</b> define for the different device screen sizes how many slides should we display at the same time. Most of the time, the value will be 1 everywhere. But for example on the <%= link_to 'Corporate client logos slider', main_app.corporate_clients_path(anchor: 'corporate-clients-slider'), target: :blank %> we display 5 logos at the same time on desktops (so 5 slides for XL), 2 logos at the same time for tablets (so 2 slides for M), and 1 logo for mobiles (so 1 slide for S)</li>
        </ul>
      </li>
      <li>Click on the <b>"Create slider and add first slide"</b> button</li>
      <li>
        You are now on the slide creation page. Fill up all informations:
        <ul>
          <li><b>Link:</b> the link where users will be redirected to if they click on the slide image (you can leave it blank if you don't want this slide to have any link)</li>
          <li><b>Slide number:</b> define the order of slides on the slider. The slide with the smallest number will be first. (So slide with number 1 will appear first, then slide with number 2, then slide with number 3 etc...)</li>
          <li><b>Slide image description:</b> you can add here a brief description of the image that will be used by SEO</li>
          <li><b>Image:</b> upload your slide image</li>
          <li><b>Image mobile:</b> upload your slide image for mobiles. Image mobile is optional, but it's better to put one so that you are sure your slide will be readable even on mobile screens. If you don't upload a mobile image, the normal image will be displayed all the time</li>
        </ul>
      </li>
      <li>Click on the <b>"Create Slide"</b> button</li>
      <li>You will now see your new slide added to your slider. (Sliders with only 1 slide will behave like banners and options like "auto play", "navigation" or "pagination" will be disabled by default).</li>
      <li>To add a new slide click on the <b>"+ Add Slide"</b> button. To edit or delete an existing slide click on the <b>"Edit"</b> or <b>"Remove"</b> link of the slide</li>
    </ol>

    <%= image_tag 'doc/sliders.png' %>
    <%= image_tag 'doc/sliders2.png' %>
    <%= image_tag 'doc/sliders3.png' %>
    <%= image_tag 'doc/sliders4.png' %>
    <%= image_tag 'doc/sliders5.png' %>
  </div>
</div>