<% if model_filter.present? %>
  <div class="navigation product-filter" data-hook="navigation">
    <h6 class="filter-title"><%= I18n.t('spree.models') %></h6>
    <ul class="filter_choices">
      <% model_filter.each do |model_name, model_id| %>
        <li>
          <input type="checkbox"
                  id="<%= model_id %>"
                  name="<%= "search[with_option][#{model_option_type.id}][]" %>"
                  value="<%= model_id %>"
                  <%= params.dig(:search, :with_option, model_option_type.id.to_s)&.include?(model_id.to_s) ? "checked" : "" %>
          />
          <label class="product-filter-label" for="<%= model_id %>">
            <span><%= model_name %></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </label>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>