<%= render 'spree/shared/slider', slider: @slider %>

<div id="reparation-categories">
  <h2> <%= t('choose_reparation_category') %></h2>
  <div id="reparation-categories-grid">
    <% @categories.each do |category| %>
      <div class="reparation-category position-relative">
        <p class="reparation-category-name text-center"><%= category.name %></p>
        <%= cl_image_tag_with_folder(category.photo, width: 500, crop: :fill, model: ReparationCategory, alt: category.name) %>
        <%= link_to '', new_reparation_category_reparation_request_path(category), class: 'full-absolute' %>
      </div>
    <% end %>
  </div>
</div>