<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>

<div>
  <h1><%= t('spree.edit_my_account') %></h1>

  <div>
    <%= form_for Spree::User.new, as: @user, url: spree.user_path(@user), method: :put do |f| %>
      <%= render partial: 'spree/shared/user_form', locals: { f: f } %>
      <p>
        <%= f.submit t('spree.update').upcase, class: 'btn btn-primary large' %>
      </p>
    <% end %>
  </div>
</div>