<% admin_layout "full-width" %>

<% admin_breadcrumb(link_to 'Sliders', spree.admin_sliders_path) %>
<% admin_breadcrumb(link_to @slider.name, spree.edit_admin_slider_path(@slider.id)) %>
<% admin_breadcrumb('New Slide') %>

<%= simple_form_for [@slider, @slide], url: admin_slider_slide_path, html: { class: 'form-with-images' } do |f| %>
  <%= f.input :link, as: :string %>
  <%= f.input :order, label: 'Slide number' %>
  <div class="image-input">
    <%= cl_image_tag_with_folder @slide.image, width: 300, model: Slide, class: 'image-preview', data: { id: 'desktop-image' } %>
    <%=
      f.input :image,
      as: :file,
      hint: "
        Recommanded image sizes:
        <br />
        width: #{@slider.slide_sizes_by_slider_location[:desktop][:width]}px | height: #{@slider.slide_sizes_by_slider_location[:desktop][:height]}px
      ".html_safe,
      input_html: { data: { id: 'desktop-image'} }
    %>
    <p class="invalid-feedback display-block"><%= @slide.errors[:image]&.join(', ') %></p>
  </div>
  <div class="image-input">
    <%=
      cl_image_tag_with_folder(
        @slide.image_mobile,
        width: 300,
        model: Slide,
        no_fallback: true,
        class: 'image-preview',
        data: { id: 'mobile-image' }
      )
      %>
    <%=
      f.input :image_mobile,
      as: :file,
      hint: "
        Recommanded image sizes:
        <br />
        width: #{@slider.slide_sizes_by_slider_location[:mobile][:width]}px | height: #{@slider.slide_sizes_by_slider_location[:mobile][:height]}px
      ".html_safe,
      input_html: { data: { id: 'mobile-image'} }
    %>
    <p class="invalid-feedback display-block"><%= @slide.errors[:image_mobile]&.join(', ') %></p>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>