<%= render 'spree/shared/banner', banner: @banner %>
<div id="trade-in-form">
  <div id="trade-in-first-part">
    <h2><%= t('choose_product_to_trade_in') %></h2>

    <div>
      <%=
        select_tag 'trade_in_categories',
        options_for_select(@trade_in_categories.map { |category| [category.name, category.id] }),
        prompt: t('choose_product_category'),
        id: 'trade-in-categories'
      %>
    </div>

    <div>
      <%=
        select_tag 'trade_in_model',
        options_for_select(
          @trade_in_models.map do |model|
            [
              model.name,
              model.id,
              data: {
                parent_id: model.trade_in_category.id,
                min_value: model.min_value,
                max_value: model.max_value,
                min_value_text: number_to_currency(model.min_value),
                max_value_text: number_to_currency(model.max_value),
              }
            ]
          end
        ),
        prompt: t('choose_product'),
        class: 'display-none trade-in-model',
        id: 'trade-in-models',
        class: 'hidden',
        disabled: true
      %>
    </div>

    <div id="trade-in-model-price" class="hidden" data-min-value="" data-max-value="" disabled>
      <p class="model-name-paragraph"><%= t('you_have_a') %> <b class="model-name"></b></p>
      <p class="model-values">(<%= t('estimated_value_between') %> <b class="model-min-value"></b> <%= t('and') %> <b class="model-max-value"></b>)</p>
    </div>
  </div>

  <div id="trade-in-second-part" class="hidden" disabled>
    <h2><%= t('choose_product_buy_in_exchange') %></h2>

    <div>
      <%=
        select_tag 'taxon',
        options_for_select(@taxons.map { |taxon| [taxon.name, taxon.id] }),
        prompt: t('choose_product_category'),
        id: 'taxons'
      %>
    </div>

    <div>
      <%=
        select_tag 'product',
        options_for_select(
          @products.map do |product|
            [
              product.name,
              product.id,
              data: {
                parent_id: product.taxons.first.depth == 2 ? @accessories_taxon_id : product.taxon_ids.first,
                has_variants: product.has_variants?,
                master_id: product.master.id
              }
            ]
          end
        ),
        prompt: t('choose_product'),
        id: 'products',
        class: 'hidden',
        disabled: true
      %>
    </div>

    <div>
      <%=
        select_tag 'variant',
        options_for_select(
          @variants.map do |variant|
            next if variant.is_master?

            [
              "#{variant.name} - #{variant.options_text}",
              variant.id,
              data: { parent_id: variant.product_id }
            ]
          end
        ),
        prompt: t('choose_variant'),
        id: 'variants',
        class: 'hidden',
        disabled: true
      %>
    </div>

    <div id="variant-infos" class="hidden" disabled>
      <div class="variant-image"><!-- Will be added by JS --></div>
      <div class="variant-price-to-compute centered-flexbox">
        <div>
          <%= t('you_can_by_a') %> <b class="variant-name"></b> - <b class="variant-options"></b>
          <br /><%= t('between') %> <b class="variant-min-price"></b> <%= t('and') %> <b class="variant-max-price"></b>
        </div>
      </div>
      <p class="variant-price-container">(<%= t('instead_of') %> <b class="variant-price"></b>)</p>
    </div>
  </div>
</div>