<div id="reparation-request" class="centered-flexbox vertical-flexbox">
  <h1><%= @trade_in_category.name %></h1>
  <%= cl_image_tag_with_folder @trade_in_category.photo, height: 200, width: 300, crop: :fill, model: ReparationCategory %>

 <div id="trade-in-form">
    <%= select_tag "credit_card", options_for_select(@trade_in_models_select_options) %>

    <div id="trade-in-model-prices">
      <% @trade_in_models.each do |trade_in_model| %>
        <p class="display-none trade-in-model-price" data-id="<%= trade_in_model.id %>">
          <%= number_to_currency(trade_in_model.min_value) %> | <%= number_to_currency(trade_in_model.max_value) %>
        </p>
      <% end %>
    </div>
  </div>
</div>