<% admin_breadcrumb('Trade In Models') %>

<% content_for :page_actions do %>
  <li>
    <%= link_to 'Sync Trade In Models', spree.sync_admin_trade_in_models_path, class: 'btn btn-primary' %>
  </li>
<% end %>

<table>
   <thead>
      <tr>
         <th>Name</th>
         <th>Min value</th>
         <th>Max value</th>
         <th>Category</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
    <% @trade_in_models.each do |trade_in_model| %>
      <tr>
        <td><%= trade_in_model.name %></td>
        <td><%= number_to_currency(trade_in_model.min_value) %></td>
        <td><%= number_to_currency(trade_in_model.max_value) %></td>
        <td><%= trade_in_model.trade_in_category.name %></td>
      </tr>
    <% end %>
   </tbody>
</table>
