<% max_level = 2 %>
<nav id="sidebar-categories" class="sidebar-item " data-hook>
  <h6><%= t("spree.categories") %></h6>
  <div class="accordion accordion-flush" id="categoriesAccordion">
    <% @categories.each_with_index do |category, i| %>
      <div class="accordion-item">
        <% if category.children.present? %>
            <h2 class="accordion-header" id="<%= "flush-heading#{i}" %>">
              <%=
                link_to category.name,
                spree.nested_taxons_path(category),
                class: "accordion-button with-children #{@taxon.parent == category || @taxon == category ? '' : 'collapsed'}"
              %>
            </h2>
            <div id="<%= "flush-collapse#{i}" %>" class="accordion-collapse collapse <%= @taxon.parent == category || @taxon == category ? 'show' : '' %>" aria-labelledby="<%= "flush-heading#{i}" %>" data-bs-parent="#categoriesAccordion">
              <div class="accordion-body">
                <% category.children.each do |sub_category| %>
                  <%= link_to sub_category.name, spree.nested_taxons_path(sub_category), class: "accordion-element #{@taxon == sub_category ? 'active' : ''}" %>
                <% end %>
              </div>
            </div>
        <% else %>
          <h2 class="accordion-header" id="<%= "flush-heading#{i}" %>">
            <%= link_to category.name, spree.nested_taxons_path(category), class: 'accordion-button' %>
          </h2>
        <% end %>
      </div>
    <% end %>
  </div>
  <%#= taxons_tree(taxonomy.root, @taxon, max_level) %>
</nav>