<footer id="footer">
  <div id="footer-content" class="container">
    <div class="footer-block">
      <h5><%= t('footer.social') %></h5>
      <div id="footer-social-grid">
        <%= link_to svg('facebook'), 'https://www.facebook.com/SalvaMiMaquina/', target: '_blank' %>
        <%= link_to svg('instagram'), 'https://www.instagram.com/salvamimaquina/', target: '_blank' %>
        <%= link_to svg('whatsapp'), 'https://wa.me/5078510855', target: '_blank' %>
        <%= link_to svg('twitter'), 'https://twitter.com/salvamimaquina', target: '_blank' %>
      </div>
    </div>
    <div class="footer-block">
      <h5><%= t('footer.shops') %></h5>
      <p><%= link_to t('footer.locations'), contact_path(anchor: 'shops') %></p>
      <p><%= link_to t('footer.open_times'), contact_path(anchor: 'business-hours') %></p>
      <p><%= link_to t('contact_us'), contact_path %></p>
    </div>
    <div class="footer-block">
      <h5><%= t('footer.ecommerce') %></h5>
      <p><%= link_to t('footer.shipping_prices_zones_and_times'), shipping_informations_path %></p>
      <p><%= link_to t('footer.payment_methods'), payment_methods_path %></p>
    </div>
  </div>
</footer>
