<%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
  <div id="password-credentials">
    <%= f.email_field :email, placeholder: t('spree.email'), class: 'login-input', tabindex: 1, autofocus: true %>
    <%= f.password_field :password, placeholder: t('spree.password'), class: 'login-input', tabindex: 2 %>
  </div>
  <div>
    <%= f.check_box :remember_me, tabindex: 3 %>
    <%= f.label :remember_me, t('spree.remember_me') %>
  </div>

  <p><%= f.submit t('spree.login').upcase, class: 'btn btn-primary w-100', tabindex: 4 %></p>
<% end %>