<div class="products-sorting <%= version == :desktop ? 'dropdown hide-m' : '' %>">
  <% if version == :desktop %>
    <div id="products-sorting-toggle" id="productsSortingDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,10">
      <%= t('spree.newest') %> <!-- Currently our default sorting -->
    </div>
  <% end %>
  <div class="<%= version == :desktop ? 'dropdown-menu dropdown-menu-end' : '' %>" aria-labelledby="productsSortingDropdown">
    <%#= form_tag '', method: :get, class: "products-sorting-form #{version} products-searcher-form" do %>
      <% Spree::Product.sorting_options.each do |sort_id, sort_name| %>
        <div class="<%= version == :desktop ? 'dropdown-item' : '' %>">
          <!-- Current default sorting is "newest to oldest" so we select :descend_by_available_on scope by default -->
          <%= radio_button_tag(
            :sort_products,
            sort_id, sort_id == :descend_by_available_on,
            id: "#{sort_id}-#{version}",
            form: 'products-searcher',
            data: { label: t("spree.#{sort_name}"), key: sort_id })
          %>
          <%= label_tag "#{sort_id}-#{version}", t("spree.#{sort_name}") %>
        </div>
      <% end %>
    <%# end %>
  </div>
</div>