<div data-hook="products_search_results_heading">
  <% if products.blank? %>
    <div>
      <%= t('spree.no_products_found') %>
    </div>
  <% end %>
</div>
<% if products.present? %>
  <ul id="products" class="inline product-listing" data-hook>
    <% products.each do |product| %>
      <% cheapest_variant = product.cheapest_variant %>
      <li id="product_<%= product.id %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div class="product-image">
          <%= cl_image_tag_with_folder(
            cheapest_variant.images.first&.attachment,
            width: 540,
            crop: :fill,
            model: Spree::Image,
            alt: product.name
          ) %>
        </div>
        <div class="product-name"><%= product.name %></div>
        <span class="prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <% cheapest_variant_is_on_sale = cheapest_variant.on_sale? %>
          <% if cheapest_variant_is_on_sale %>
            <span class="price selling" itemprop="price" content="<%= cheapest_variant.price %>">
              <%= number_to_currency(cheapest_variant.price) %>
            </span>
          <% end %>
          <span class="price selling <%= cheapest_variant_is_on_sale ? 'crossed' : '' %>" itemprop="price" content="<%= cheapest_variant.original_price %>">
            <%= number_to_currency(cheapest_variant.original_price) %>
          </span>
          <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
        </span>
        <%= link_to '', spree.product_es_mx_path(product), class: 'product-link full-absolute', itemprop: "name", title: product.name %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if products.respond_to?(:total_pages) %>
  <%= paginate products, theme: 'bootstrap4' %>
<% end %>
