<% content_for :sidebar do %>
  <div id="products-sidebar">
    <button id="show-products-sidebar-content" class="show-m">
      <%= svg 'filters' %>
      <%= t('spree.filter') %>
    </button>

    <div id="products-sidebar-content">
      <div id="products-sidebar-content-header" class="show-m">
        <ul class="nav nav-tabs" id="productsSidebarTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="product-filters-tab" data-bs-toggle="tab" data-bs-target="#product-filters-tab-content" type="button" role="tab" aria-controls="product-filters-tab-content" aria-selected="true"><%= t('spree.filter').upcase %></button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="products-sorting-tab" data-bs-toggle="tab" data-bs-target="#products-sorting-tab-content" type="button" role="tab" aria-controls="products-sorting-tab-content" aria-selected="false"><%= t('spree.sort').upcase %></button>
          </li>
        </ul>
        <span id="hide-products-sidebar-content">
          <%= svg 'cross' %>
        </span>
      </div>
      <div id="products-sidebar-content-body" class="tab-content" id="productsSidebarTabsContent">
        <div class="tab-pane fade show active" id="product-filters-tab-content" role="tabpanel" aria-labelledby="product-filters-tab">
          <%= render 'spree/shared/categories' %>
          <%= render 'spree/shared/filters', form: 'products-searcher' %>
        </div>
        <div class="tab-pane fade" id="products-sorting-tab-content" role="tabpanel" aria-labelledby="products-sorting-tab">
          <%= render 'spree/shared/products_sorting', version: :mobile, form: '' %>
        </div>
      </div>
      <div id="products-sidebar-content-footer" class="show-m">
        <%= submit_tag 'Confirm', form: 'products-searcher', class: 'btn btn-primary w-100' %>
      </div>
    </div>
  </div>
<% end %>
