<% self.title = t('spree.search_result', keyword: h(params[:keywords])) %>

<% if @products.present? %>
  <%= render 'shared/products_sidebar' %>
<% end %>

<div>
  <h6 class="search-results-title">
    <%= t('spree.search_results', count: @products.size) %> <span>"<%= h(params[:keywords]) %>"</span>
  </h6>
</div>

<% if @products.present? %>
  <div class="hide-m">
    <%= render 'shared/products_sorting', version: :desktop %>
  </div>
  <%= render partial: 'shared/products', locals: { products: @products } %>
<% end %>
