<div id="product-show" data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

  <div id="product-top-part">
    <div id="product-left-part" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" data-hook>
            <% if @product_has_variant %>
              <%# The src will be added by JS depending what variant is selected, this is just a small placeholder empty gif %>
              <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" itemprop="image" data-key="">
            <% else %>
              <%= cl_image_tag_with_folder(
                @first_image,
                width: 600,
                crop: :fit,
                model: Spree::Image,
                itemprop: "image",
                alt: @product.name,
                data: { key: @first_image&.key }
              ) %>
            <% end %>
          </div>
          <div id="thumbnails" data-hook>
            <%# @first_image will be defined only if product has no variants. If it has variants all will be defined by JS anyway %>
            <%= render 'thumbnails', first_image: @first_image %>
          </div>
        </div>

        <div data-hook="product_properties">
          <%#= render partial: 'properties' %>
        </div>

        <div data-hook="promotions">
          <%#= render partial: 'promotions' %>
        </div>
      </div>
    </div>
    <div id="product-right-part" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>

          <div id="cart-form" data-hook="cart_form">
            <%= render partial: 'cart_form' %>
          </div>
        </div>
        <%#= render partial: 'taxons' %>
      </div>
    </div>
  </div>


  <div class="product-description">
    <h5><%= t('spree.product_information') %></h5>
    <span itemprop="description">
      <%= product_description(@product) rescue t('spree.product_has_no_description') %>
    </span>
  </div>

  <meta itemprop="brand" content="apple">
  <meta itemprop="productID" content="<%= @product.slug %>">
  <meta itemprop="url" content="<%= request.original_url %>">

  <%=
    render 'spree/shared/related_products',
    related_products: @product.cross_sells.includes(
      variants_including_master: [
        { images: [attachment_attachment: :blob] }, { prices: :active_sale_prices }
      ]
    )
  %>

  <!-- Add To Cart Modal -->
  <div class="modal fade" id="addToCartModal" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close centered-flexbox" data-bs-dismiss="modal" aria-label="Close">
            <%= svg 'cross' %>
          </button>
        </div>
        <div class="modal-body">
          <span id="variant-name"></span> <%= t('spree.added_to_your_cart') %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><%= t('spree.continue_shopping') %></button>
          <%= link_to cart_es_mx_path, class: "btn btn-primary" do %>
            <%= t('spree.see_cart') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
