<div id="product-show" data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

  <%= render 'variant_infos', variant: @current_variant %>

  <div class="product-description">
    <h5><%= t('spree.product_information') %></h5>
    <span itemprop="description">
      <%= product_description(@product) rescue t('spree.product_has_no_description') %>
    </span>
  </div>

  <meta itemprop="brand" content="apple">
  <meta itemprop="productID" content="<%= @product.slug %>">
  <meta itemprop="url" content="<%= request.original_url %>">

  <%=
    render 'shared/related_products',
    related_products: @product.cross_sells.includes(
      variants_including_master: [
        { images: [attachment_attachment: :blob] }, { prices: :active_sale_prices }
      ]
    )
  %>

  <%= render "shared/add_to_cart_modal", variant_full_name: '', display_modal: false %>
</div>
