<div id="identify-your-model" class="container">
  <h1><%= t('identify_the_model_of_your_product') %></h1>

  <div class="model-types">
    <% @model_types.each do |model_type| %>
      <div class="model-type">
        <h2><%= t('you_have_an', model_type: model_type[:name]) %></h2>
        <%= cl_image_tag_with_folder(
          model_type[:image],
          width: 300,
          crop: :fill,
          model: Spree::Taxon,
          alt: t('find_what_model_you_have', model_type: model_type[:name])
        ) %>
        <p><%= t('find_what_model_you_have', model_type: model_type[:name]) %></p>
        <a href="<%= model_type[:identify_model_link] %>" target="_blank" class="full-absolute"></a>
      </div>
    <% end %>
  </div>
</div>