<h1>FAKE API CALL</h1>

A <b><%= @http_method.upcase %></b> request will be sent to <b><%= @endpoint %></b>

<br /><br />

<b>Payload:</b>
<ul>
  <% @payload.each do |key, value| %>
    <li><%= key %>: <%= value %></li>
  <% end %>
</ul>

<br /><br />

<% if @response %>
  <b>Fake Response:</b>
  <ul>
    <% @response.each do |key, value| %>
      <li><%= key %>: <%= value %></li>
    <% end %>
  </ul>
<% end %>

