<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'shared/head' %>
    <%= RailsCriticalCssServer::Rewrite.call self do %>
      <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css' rel='stylesheet' />
      <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet" />
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_importmap_tags %>
  </head>
  <body id="<%= @body_id || 'default' %>" data-hook="body">
    <div class="container">
      <%= render partial: 'shared/header' %>
    </div>
    <div id="wrapper">
      <%#= taxon_breadcrumbs(@taxon) %>
      <%= render partial: 'shared/sidebar' if content_for? :sidebar %>
      <!-- <div id="content" class="columns <%#= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook> -->
      <div id="content" class="<%= content_for?(:sidebar) ?  'col-lg-10' : '' %>" data-hook>
        <%= render 'shared/flash' %>
        <%= yield %>
      </div>
      <%= yield :templates %>
    </div>
    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/copyrights' %>
    <%= render 'shared/whatsapp_widget' %>
  </body>
</html>