<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render partial: 'shared/head' %>
    <%= RailsCriticalCssServer::Rewrite.call self do %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css' rel='stylesheet' />
    <% end %>
    <%= javascript_importmap_tags %>
    <%= Gon::Base.render_data %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>">
    <div class="container">
      <%= render partial: 'shared/header' %>

      <div id="wrapper">
        <%= render partial: 'shared/content_header' if content_for? :content_header %>
        <div id="wrapper-content" class="<%= content_for?(:sidebar) ? 'sidebar-layout' : '' %>">
          <%= render partial: 'shared/sidebar' if content_for? :sidebar %>
          <div id="content" data-hook>
            <%= render 'shared/flash' %>
            <%= yield %>
          </div>
          <%= yield :templates %>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/copyrights' %>
    <%= render 'shared/whatsapp_widget' %>
  </body>
</html>
