<div id="shipments">
  <%= form.fields_for :shipments do |ship_form| %>
    <% if ship_form.object == @order.shipments.first %>
      <div class="shipment">
        <h5><%= t('spree.choose_shipping_method') %></h5>
        <% if @delivery_in_first_or_second_zone %>
          <p class="free-shipping">
            <%= t('spree.free_shipping_for_orders_above_threshold', free_shipping_threshold: number_to_currency(@free_shipping_threshold)) %>
          </p>
        <% end %>
        <div class="radios shipping-methods">
          <% ship_form.object.shipping_rates.includes(:taxes, :shipping_method).each do |rate| %>
            <% shipping_method = rate.shipping_method %>
            <label class="shipping-method">
              <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
              <div class="shipping-method-label">
                <span>
                  <% if shipping_method.service_level == 'delivery' %>
                    <%= t('spree.shipping_methods.delivery_zone', zone_number: shipping_method.code) %>
                  <% else %>
                    <%= t('spree.shipping_methods.pickup_in_store', store_name: shipping_method.admin_name) %></span>
                  <% end %>
                </span>
                <span class="rate-cost"><%= rate.display_cost %></span>
              </div>
            </label>
          <% end %>
        </div>
      </div>
    <% else %>
      <!-- We hide the second package and put a hidden tag with the correct params name and empty value,
      that will be populated after in CheckoutControllerDecorator#equalize_shipments_shipping_methods -->
      <%= hidden_field_tag "order[shipments_attributes][1][selected_shipping_rate_id]" %>
    <% end %>
  <% end %>
</div>

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag t('spree.save_and_continue').upcase, class: 'btn btn-primary' %>
</div>
<p class="shipping-informations"><%= link_to t('footer.shipping_prices_zones_and_times'), shipping_informations_path %></p>